<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="cloud.libone">

    <application
        android:allowBackup="true"
        android:supportsRtl="true"
        >

        <activity
            android:name=".LogActivity"
            android:label="日志模块"
            android:theme="@style/OneTheme">

            <intent-filter>
                <action android:name="cloud.libone.LogActivity"/>

            </intent-filter>

        </activity>

        <activity
            android:name=".LogDetailActivity"
            android:label="日志详情"
            android:theme="@style/OneTheme"/>

    </application>

</manifest>
