<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="cloud.base">

    <application
        android:name=".BaseApp"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">

        <activity
            android:name=".BaseMainActivity"
            android:label="BaseMainActivity"/>


    </application>

</manifest>
